body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#board {
  background-color: white;
  background-image: url("../images/backgroundLOL.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

#player {
  background-image: url("../images/family-guy-peter-griffin-image_thumbnail.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.enemy {
  background-image: url("../images/Ernie.webp");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
}

.bullet {
  background-color: rgb(241, 1, 1);
  background-size: contain;
  position: absolute;
  border-radius: 50%;
}

#score {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

audio {
  display: none;
}

#intro {
  position: absolute;
  top: 30%;
  left: 20%;
  text-align: center;
  justify-content: center;
}

#start {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.instructions-box {
  border: 2px solid black;
  padding: 10px;
  background-color: white;
}
.instructions {
  color: black;
  font-size: 40px;
}
